@import "green_sprout";

$box-color: #FFFFFF;

$background-color: hsl(339, 77%, 99%);
$background-color-light-border: #eeeeee;

$primary-color: #0D9071;
$secondary-color: #E83028;
$tertiary-color: #FF730E;

$text-color: #696E76;
$secondary-text-color: #535152;
$primary-btn-text-color: #FFFFFF;


/* Fonts */
$navbar-font-size: 16px * 1.18;
$navbar-margin: 1.25vw;
$navbar-padding: 15px;

$base-font-size: 18px;
$medium-font-size: $base-font-size + 2;
$heading-font-size: $base-font-size * 3;
$subheading-font-size: $base-font-size * 1.5;
$base-font-family: 'Avenir', sans-serif;

/* Spacing */
$small-space: 2vh;
$medium-space: 5vh;
$large-space: 7.5vh;

/* Other */
$border-style: 1px solid $primary-color;
$transition-speed: .2s;
$transform-scale: 1.05;
