// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

$background-color: hsl(339, 77%, 99%);
$background-color-light-border: #eeeeee;

$primary-color: #0CB08A;
$secondary-color: #E83028;
$tertiary-color: #F8806C;

$text-color: #939393;
$secondary-text-color: #454545;
$primary-btn-text-color: #FFFFFF;

$font-size: 18px;
$base-font-family: proxima-nova, sans-serif; 