.main-button {
  font-weight: bold;
  background-color: $primary-color;
  color: $primary-btn-text-color;
  border: $border-style;
  border-color: $primary-btn-text-color;
  border-radius: 8px;
  padding: $base-font-size / 2;
  transition: $transition-speed;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: 1;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;
    transform: scale($transform-scale);
  }
}
