#table {
  .content {
    margin: 150px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding: 10px;
    color: $primary-color;
  }

  .gallery {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 750px;
    }

    @media screen and (min-width: 992px) {
      width: 970px;
    }

    @media screen and (min-width: 1200px) {
      width: 1170px;
    }
  }

  .entry-wrapper {
    background-color: $background-color;
    width: 100%;
    padding: 15px 0px;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 992px) {
      width: 33.3333%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
    }

  }

  .entry {
    width: 90%;
    background-color: $box-color;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 #e4e4e4;
    transition: $transition-speed;
    padding: 5px 0;

    &:hover {
      transform: scale(1.05);
    }
  }

  .name {
    color: $primary-color;
  }

  .idea {
    padding: 0 10px;
  }

  .tags {
    padding: 0 10px;
  }

  .contact {
    padding: 0 10px;
  }
}
