#table {
  .content {
    margin-top: calc(min(4%, 30px));
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #form {
      align-self: start;
      .checkboxes {
        column-count: 1;
        margin: 10px 0px;
      }

      .field-array {
        width: 100%;
        max-width: 600px;
      }
    }

    .btn-danger {
      font-weight: bold;
      background-color: $secondary-color;
      color: $primary-btn-text-color;
      border: $border-style;
      border-color: $primary-btn-text-color;
      border-radius: 8px;
      padding: $base-font-size / 2;
      transition: $transition-speed;
      font-size: $base-font-size;
      font-family: $base-font-family;
      line-height: 1;
    }
  }
  .sponsorContent {
    margin-top: calc(min(4%, 30px));
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #form {
      display: contents;
      display: flex;
      align-self: start;

      .checkboxes {
        column-count: 1;
        margin: 10px 0px;
      }

      .field-array {
        width: 11vw;
        max-width: 800px;
      }
    }
  }

  .header {
    padding: 10px;
    color: $primary-color;
    width: 500px;
  }

  .directory-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .gallery {
    width: 80%;

    @media screen and (min-width: 768px) {
      width: 750px;
    }

    @media screen and (min-width: 992px) {
      width: 970px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

  .gallery.jobsPage {
    width: 90%;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 1200px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .entry-wrapper.jobsPage {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 992px) {
      width: 33.3333%;
    }

    @media screen and (min-width: 1200px) {
      width: 30%;
    }
  }

  .entry-wrapper {
    background-color: $background-color;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 992px) {
      width: 33.3333%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
    }
  }

  .entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
    hyphens: auto;
    width: 90%;
    background-color: $box-color;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 #d6d6d6;
    transition: $transition-speed;
    padding-bottom: 15px;

    &:hover {
      transform: scale(1.05);
    }
  }

  #descText {
    width: 200px;
    height: 88px;
    line-height: 22px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
  }

  #ideaText {
    height: 88px;
    text-align: left;
    line-height: 22px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
  }

  #ideaTextOrganizer {
    text-align: left;
  }

  #interestedText {
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  #verticalsDiv {
    display: flex;
    flex-direction: column;
  }

  .organizerCard {
    //background: #E8FEF3 !important;
  }

  .header {
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    $image-width: 40px;
    margin: 0 auto 10px auto;

    img {
      float: left;
      height: $image-width;
      width: $image-width;
      margin-right: 15px;
      border-radius: 50%;
    }

    h3 {
      color: $primary-color;
    }
  }

  .jobListing {
    border-radius: none;
    $logo-height: 60px;
    padding-left: 10px;

    .header {
      flex-direction: column;
      max-width: none;
    }

    img {
      display: inline-block;
      float: none;
      text-align: center;
      position: relative;
      height: $logo-height;
      width: auto;
      margin: 0;
      border-radius: 0;
      margin-top: 20px;
    }

    h3 {
      margin: 0;
      text-align: left;
      width: 100%;
      margin-top: 20px;
    }

    span {
      font-size: 12px;
      text-align: left;
      width: 100%;
      font-style: italic;
      color: $primary-color;
    }

    .idea {
      text-align: left;
      max-height: none;
    }
  }

  .idea {
    max-height: 150px;
    padding: 0 10px;
    overflow: auto;
    background: /* Shadow covers */ linear-gradient(
        white 30%,
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
      /* Shadows */
        radial-gradient(
          50% 0,
          farthest-side,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        ),
      radial-gradient(
          50% 100%,
          farthest-side,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        0 100%;
    background: /* Shadow covers */ linear-gradient(
        white 30%,
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
      /* Shadows */
        radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        ),
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;

    p {
      margin: 0;
    }
  }

  .tags {
    padding: 10px 10px;
    padding-bottom: 0px;

    .tag {
      display: inline-block;
      position: relative;
      color: $box-color;
      background-color: $primary-color;
      font-size: 14px;
      padding: 2px 5px 3px 16px;
      margin: 5px 5px;
      margin-left: 0px;
      margin-top: 0px;
      font-weight: bold;
      border-radius: 5px;
      /* 
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 11px 11px 0;
      }
      &:after {
        content: "";
        position: absolute;
        top: 8.5px;
        left: 6px;
        float: left;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: $box-color;
      } */
    }
  }

  .contact {
    padding: 0 10px;
    margin-top: 10px;
  }
  #viewButton {
    -webkit-tap-highlight-color: transparent;
  }

  .search {
    width: 400px;
    display: flex;
    margin: 0 auto 1em;
    background-color: rgb(255, 255, 255);
    padding: 1em 1.5em;
    position: relative;
    box-shadow: rgba(69, 77, 93, 0.25) 0px 0px 2.1rem;
    border-radius: 10px;
    max-width: 90vw;
    box-sizing: border-box;
    z-index: 998;
    transition: $transition-speed;

    input {
      color: $text-color;
      border: 0px;
      outline: 0px;
      font-size: 20px;
      width: 100%;
      transition: all 0.5s ease-in-out 0s;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
