@import "themes/pink_palm_tree";

.user-profile {
  display: flex;
  height: 100%;
  width: 50%;
  margin-top: calc(min(4%, 30px));
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-profile-header {
  width: 100%;
  margin-top: calc(min(4%, 30px));
  margin-bottom: calc(min(4%, 30px));
  background-color: $background-color-light-border;

  .full-name {
    font-size: $heading-font-size;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $primary-color;
  }
}

.user-profile-summary {
  width: 100%;
  margin-top: calc(min(4%, 30px));
  margin-bottom: calc(min(4%, 30px));
}

.user-profile-project {
  width: 100%;
  margin-top: calc(min(4%, 30px));
  margin-bottom: calc(min(4%, 30px));
}

.user-profile-experience {
  width: 100%;
  margin-top: calc(min(4%, 30px));
  margin-bottom: calc(min(4%, 30px));
}

.user-profile-other-info {
  width: 100%;
  margin-top: calc(min(4%, 30px));
  margin-bottom: calc(min(4%, 30px));
}

.field-name {
  font-size: $subheading-font-size;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $secondary-color;
}

.field-text {
  font-size: $base-font-size;
  text-align: left;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}